$primary: #ffccaa;
$body-bg-dark: #ffffee;
$body-bg: #ffffee;
$body-color: #880000;
$btn-color: #880000;
$btn-font-weight: 700;
$chan-light: #ffffee;
$chan-dark: #ffccaa;
$chan-accent: #880000;

@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

.btn-primary {
  color: $chan-accent;
}

$theme-colors:map-merge($theme-colors, (
));

@import "/node_modules/bootstrap/scss/bootstrap";

$enable-shadows: true;

.form-select,
.form-control,
.form-control:focus {
  background-color: white;
  border-width: 2px;
  border-color: $chan-dark;
  font-weight: 600;
  box-shadow: none;
}

.form-control:focus {
  border-color: #ffe6d5;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 204, 170, 0.25);
}

.form-control:disabled {
  background-color: $chan-light;
  background-image: none;
  --bs-form-select-bg-img: none;
  opacity: 0.5;
}

.form-control::placeholder {
  color: $chan-accent;
  font-weight: 400;
  opacity: 0.4;
}

.form-control:-ms-input-placeholder {
  color: $chan-accent;
  font-weight: 400;
  opacity: 0.4;
}

.form-control::-ms-input-placeholder {
  color: $chan-accent;
  font-weight: 400;
  opacity: 0.4;
}

.thread-spinner-big {
  margin: 3.25rem 0 2.25rem 0;
}

.thread-spinner-big .spinner-border {
  width: 50px;
  height: 50px;
  font-size: x-small;
}

.thread-arrow-left,
.thread-arrow-right {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1.5rem 0.5rem;
  border-radius: .5rem;
  transition: background-color .10s ease-in-out;
}

.thread-arrow-left.clickable,
.thread-arrow-right.clickable {
  cursor: pointer;
}

.thread-arrow-left {
  margin-right: 1rem;
}

.thread-arrow-right {
  margin-left: 1rem;
}

.thread-arrow-left.clickable:hover,
.thread-arrow-right.clickable:hover {
  background-color: rgba(255, 204, 170, .5);
}

.thread-arrow-left.clickable:active,
.thread-arrow-right.clickable:active {
  background-color: rgba(255, 204, 170, .75);
}

.thread-selector {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  /*overflow: hidden;*/
  gap: 1rem;
}

.thread-selector-container {
  background-color: rgba(255, 204, 170, 0.5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.thumbnail-image-container,
.thumbnail-image {
  height: 70px;
  width: 70px;
  position: relative;
}

.thumbnail-image {
  background-color: white;
  border-radius: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  overflow: hidden;
  display: flex;
  /*box-shadow: 0 0 6px 0 rgba(132, 7, 6, 0.3), 0 0 2px 0 rgba(132, 7, 6, 0.2);*/
}

.thumbnail-image.active {
  border-color: rgba(136, 0, 0, .5);
  box-shadow: 0 0 7px 0 rgba(136, 0, 0, .25);
}

.thumbnail-image,
.thumbnail-image-overlay {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, opacity .15s ease-in-out;
}

.thumbnail-image:not(.active):hover {
  border-color: #ffccaa;
}

.thumbnail-image:hover .thumbnail-image-overlay {
  opacity: 0.25;
}

.thumbnail-image:active .thumbnail-image-overlay {
  opacity: 0.5;
}

.thumbnail-image:active {
  box-shadow: 0 0 7px 0 #ffccaa;
}

.video-player {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
}

.thumbnail-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 204, 170, 0.75);
  opacity: 0.75;
}

.thumbnail-image-overlay {
  height: 100%;
  width: 100%;
  background-color: #ffffee;
  opacity: 0;
}

.thumbnail-popover-container {
  position: absolute;
  top: 0;
}

.thumbnail-popover-container.left-align {
  left: -185px;
}

.thumbnail-popover-container.right-align {
  right: -5px;
}

.thumbnail-popover {
  width: 180px;
  /*background-color: #ffffee;*/
  background-color: rgba(255, 255, 238, 0.8);
  position: fixed;
  z-index: 50;
  border-radius: 1rem;
  border-width: 2px;
  border-style: solid;
  /*border-color: #ffccaa;*/
  border-color: rgba(255, 204, 170, 0.8);
  box-shadow: 0 7px 6px 0 #00000024, 0 2px 3px 0 #00000024;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.25rem .5rem 1.25rem .5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.thumbnail-popover-overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(255 255 238 / 85%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  box-shadow: 0 0 0 3px #ffccaa;
}

.thumbnail-image:not(:hover) + .thumbnail-popover-container {
  display: none;
}

.thumbnail-image:hover + .thumbnail-popover-container {
  display: block;
}

.popover-title-text {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 6px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popover-body-text {
  font-size: 11px;
  line-height: normal;
  margin-bottom: 1rem;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
